.tooltip {
    position: relative;
    display: inline-block;
    width: 2em;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 150%;
    margin-left: -70px;
    font-size: 0.8em;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }